bcrypt
boto3
botocore
Flask
Flask-Bcrypt
Flask-Login
Flask-Migrate
Flask-ReCaptcha
Flask-Script
Flask-SQLAlchemy
Flask-Uploads
Flask-WTF
gunicorn
Pillow
psycopg2
requests
SQLAlchemy
SQLAlchemy-Searchable
