<div class="container m-t-50">
	<div class="row">
		<div class="about-me clearfix">
			<div class="col-xs-4 col-sm-4 col-md-3 col-lg-3">
                {% if user.image_name %}
				    <img src="{{ bucket_url + user.image_name }}" alt="" class="img-responsive">
                {% else %}
                    <img src="{{ bucket_url + default_photo }}" alt="{{ user.username }} | User Profile Image">
                {% endif %}
			</div>
			<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
				<h1>{{ user.user_title }}</h1>
				<p>Victor Santiago has an AAS in Computer Networking Systems and a B.S. in Information Systems and Cyber Security with over ten years of experience in the field of Information Technology. I have worked as a System Administrator, Windows Network Technician, for multiple MSP assisting other businesses with their technical challenges and IT operations.</p>
				<h3>Why should you hire me?</h3>
                <ul>
					<li>I am The Jack of All Trades</li>
					<li>I am a critical thinker and a good decision maker</li>
					<li>I have a positive attitude and I am a great team player</li>
					<li>I am very dedicated, and I love what I do</li>
					<li>I can learn anything on my own, and I am a fast learner</li>
				</ul>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 social-btns">
                <ul>
                    <li><a href="https://www.linkedin.com/in/vsantiago113" target="_blank"><i class="fab fa-linkedin fa-2x"></i></a></li>
                    <li><a href="https://twitter.com/vsantiago113" target="_blank"><i class="fab fa-twitter-square fa-2x"></i></a></li>
                    <li><a href="https://www.youtube.com/user/VSantiago113" target="_blank"><i class="fab fa-youtube-square fa-2x"></i></a></li>
                    <li><a href="https://github.com/vsantiago113" target="_blank"><i class="fab fa-github fa-2x"></i></a></li>
                </ul>
			</div>
		</div>
	</div>
</div>