<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
			<h1 class="text-center">Portfolio Projects</h1>
			<p class="text-center">This are some of the projects I have worked on. I have done Desktop Applications using .NET, Tkinter, Web applications using Django and Flask, system automation, console applications, APIs, parsing files, data extraction and more...</p>
			<div class="divider-red"></div>
		</div>
	</div>
        <div class="row display-flex">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <div class="panel panel-default">
                    <div class="panel-body portfolio">
                        <img src="https://s3.amazonaws.com/myblog--flask-bucket/images/python.png">
                        <span class="spacer"></span>
                        <img src="https://s3.amazonaws.com/myblog--flask-bucket/images/microsoft.net.png">
                        <h3 class="text-center">Robo-Interface</h3>
                        <p>Robo-Interface is a GUI or user interface for Robocopy the command line tool from Microsoft and includes all the switches except /UNICODE :: output status as UNICODE.</p>
                        <div class="text-center">
                            <a href="https://sourceforge.net/projects/robointerface" class="btn btn-default" target="_blank">Check this project!</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <div class="panel panel-default">
                    <div class="panel-body portfolio">
                        <img src="https://s3.amazonaws.com/myblog--flask-bucket/images/bootstrap.png">
                        <h3 class="text-center">bootsnipp.com</h3>
                        <p>Check out my Bootstrap snippets on my Bootsnipp profile. What is this? Bootsnipp is an element gallery for web designers and web developers, anybody using Bootstrap will find this website essential in their craft.</p>
                        <div class="text-center">
                            <a href="https://bootsnipp.com/vsantiago113" class="btn btn-default" target="_blank">Check this project!</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <div class="panel panel-default">
                    <div class="panel-body portfolio">
                        <img src="https://s3.amazonaws.com/myblog--flask-bucket/images/html.png">
                        <img src="https://s3.amazonaws.com/myblog--flask-bucket/images/css.png">
                        <img src="https://s3.amazonaws.com/myblog--flask-bucket/images/javascript.png">
                        <h3 class="text-center">Gardening Website Demo</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi pharetra turpis ac erat mollis egestas. Maecenas tempor pretium mauris sit amet bibendum. Aenean nunc tortor, pellentesque a leo et, varius.</p>
                        <div class="text-center">
                            <a href="https://vsantiago113.github.io/garden-website-demo" class="btn btn-default" target="_blank">Check this project!</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <div class="panel panel-default">
                    <div class="panel-body portfolio">
                        <img src="https://s3.amazonaws.com/myblog--flask-bucket/images/python.png">
                        <img src="https://s3.amazonaws.com/myblog--flask-bucket/images/tkinter.png">
                        <h3 class="text-center">Py Linked Table Manager</h3>
                        <p>Py Linked Table Manager will help you relink/update/refresh MS Access tables and also supports UNC paths. This application only works on Access 97-2003 and does not work on Access newer than 2003. Supports (mdb, .mda, .mde, .mdw).</p>
                        <div class="text-center">
                            <a href="https://sourceforge.net/projects/pylinkedtablemanager" class="btn btn-default" target="_blank">Check this project!</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <div class="panel panel-default">
                    <div class="panel-body portfolio">
                        <img src="https://s3.amazonaws.com/myblog--flask-bucket/images/python.png">
                        <h3 class="text-center">ReadWriteMemory</h3>
                        <p>This ReadWriteMemory Module is done on Python for reading and writing to the memory of any process. This module does not require any extra modules only uses standard Python libs like ctypes. Only works in Windows as it uses Windows APIs.</p>
                        <div class="text-center">
                            <a href="https://github.com/vsantiago113/ReadWriteMemory" class="btn btn-default" target="_blank">Check this project!</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <div class="panel panel-default">
                    <div class="panel-body portfolio">
                        <img src="https://s3.amazonaws.com/myblog--flask-bucket/images/python.png">
                        <img src="https://s3.amazonaws.com/myblog--flask-bucket/images/tkinter.png">
                        <h3 class="text-center">PyInstallerGUI</h3>
                        <p>PyInstallerGUI is a user interface for PyInstaller, a program that freezes (packages) Python programs into stand-alone executables, under Windows, Linux, Mac OS X, FreeBSD, Solaris and AIX.</p>
                        <div class="text-center">
                            <a href="https://github.com/vsantiago113/PyInstallerGUI" class="btn btn-default" target="_blank">Check this project!</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <div class="panel panel-default">
                    <div class="panel-body portfolio">
                        <img src="https://s3.amazonaws.com/myblog--flask-bucket/images/python.png">
                        <img src="https://s3.amazonaws.com/myblog--flask-bucket/images/tkinter.png">
                        <h3 class="text-center">ACTrainer</h3>
                        <p>This code is an example of how to create a game trainer or a hack cheat code for single player PC games. It shows how you can read or modify values from the process memory of the game.</p>
                        <div class="text-center">
                            <a href="https://github.com/vsantiago113/ACTrainer" class="btn btn-default" target="_blank">Check this project!</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <div class="panel panel-default">
                    <div class="panel-body portfolio">
                        <img src="https://s3.amazonaws.com/myblog--flask-bucket/images/python.png">
                        <img src="https://s3.amazonaws.com/myblog--flask-bucket/images/tkinter.png">
                        <h3 class="text-center">TreeDataView</h3>
                        <p>The TreeDataView is a table for Tkinter using Tkinter TreeView class. It supports Python 2.7+ and Python 3+. It has been tested with up to 9000 rows and 6 columns in a regular workstation with a duo core CPU and 2GB of Memory.</p>
                        <div class="text-center">
                            <a href="https://github.com/vsantiago113/TreeDataView" class="btn btn-default" target="_blank">Check this project!</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <div class="panel panel-default">
                    <div class="panel-body portfolio">
                        <img src="https://s3.amazonaws.com/myblog--flask-bucket/images/python.png">
                        <img src="https://s3.amazonaws.com/myblog--flask-bucket/images/tkinter.png">
                        <h3 class="text-center">KeyLogMe</h3>
                        <p>A Keylogger also known as a Keystroke logging made in Python for Windows. Only runs on Python 2.7.</p>
                        <div class="text-center">
                            <a href="https://github.com/vsantiago113/KeyLogMe" class="btn btn-default" target="_blank">Check this project!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>