<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
			<h1 class="text-center">Store Affiliate Products</h1>
			<p class="text-center">The store products are Amazon and other products and software I use myself that I know to be good quality 4.5+ rating stars that I highly recommend. If you wonder what equipment I use to record my youtube videos, what hardware I run on my PC or what software I use for coding, here you will find them all.</p>
			<div class="divider-red"></div>
		</div>
	</div>
    <div class="row">
        {% if products %}
            {% for item in products %}
                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
                        <div class="store-products clearfix">
                            <img src="{{ bucket_url + item.image_name }}" alt="" class="img-responsive">
                            <h3>{{ item.title }}</h3>
                            <p>{{ item.description }}</p>
                            <hr>
                            <div class="price-buy">
                                <span>${{ item.discount_price }}</span>
                                <a href="{{ item.product_url }}" class="btn btn-warning" target="_blank">Buy now!</a>
                            </div>
                        </div>
                    </div>
            {% endfor %}
        {% endif %}
    </div>
</div>