{% extends "layout.html" %}

{% block title %}Blog Posts{% endblock %}

{% block content %}
    <div class="container m-t-50 m-b-50">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3">
                <h3 class="text-center">Search Blogs</h3>
                <form role="form" method="GET" action="">
                    <div class="input-search">
                        <span><i class="fa fa-search" aria-hidden="true"></i></span>
                        <input type="text" name="q" placeholder="Search..." class="input-box" {% if q %}value="{{ q }}{% endif %}">
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="container m-t-50">
        {% if posts.items %}
            {% for post in posts.items %}
                <div class="row">
                    <div class="col-xs-8 col-xs-offset-2 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 m-b-30 blog-result">
                        {% if post.image_name %}
                            <img class="img-responsive" src="{{ s3_url + post.image_name }}" alt="{{ post.title }} by {{ post.author.username }}">
                        {% else %}
                            {# No image to display #}
                        {% endif %}
                        <div class="row m-t-10">
                            <span class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-left">
                                <span class="glyphicon glyphicon-user" aria-hidden="true"></span> <a href="{{ url_for('user_profile', user_id=post.author.id) }}">{{ post.author.username }}</a>
                            </span>
                            <span class="col-xs-5 col-sm-5 col-md-5 col-lg-5 text-center">
                                <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> {{ post.pub_date.strftime('%B %d, %Y') }}
                            </span>
                            <span class="col-xs-3 col-sm-3 col-md-3 col-lg-3 text-right">
                                <span class="glyphicon glyphicon-comment" aria-hidden="true"></span> 0
                            </span>
                        </div>
                        <h3><a href="{{ url_for('blog.view_post', post_id=post.id) }}">{{ post.title }}</a></h3>
                        <p>{{ post.excerpt }}</p>
                        <a href="{{ url_for('blog.view_post', post_id=post.id) }}" class="btn btn-default">Read more...</a>
                    </div>
                </div>
            {% endfor %}
        {% else %}

        {% endif %}

        <div class="row m-b-50">
            <div class="text-center">
                {% if posts.has_prev %}
                    <a href="{{ url_for('blog.view_posts', page=posts.prev_num, q=q) }}" class="btn btn-default">Newer posts</a>
                {% endif %}
                {% if posts.has_next %}
                    <a href="{{ url_for('blog.view_posts', page=posts.next_num, q=q) }}" class="btn btn-default">Older posts</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}