/* ################## */
/* GENERAL CSS */
/* ################## */
@import url('https://fonts.googleapis.com/css?family=Lato|Open+Sans');

html, body {
    background-color: #FCFCFC;
    color: #212121;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 24px;
}

.block-center {
    display: block;
    margin: 0 auto;
}

.m-t-10 {
    margin-top: 10px;
}

.m-t-20 {
    margin-top: 20px;
}

.m-t-30 {
    margin-top: 30px;
}

.m-t-40 {
    margin-top: 40px;
}

.m-t-50 {
    margin-top: 50px;
}

.m-b-10 {
    margin-bottom: 10px;
}

.m-b-20 {
    margin-bottom: 20px;
}

.m-b-30 {
    margin-bottom: 30px;
}

.m-b-40 {
    margin-bottom: 40px;
}

.m-b-50 {
    margin-bottom: 50px;
}

.row-flex {
    display: flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
}

header, section, footer, aside, nav, main, article, figure {
    display: block;
}

.input-search {
    position: relative;
}

.input-search input {
    text-indent: 24px;
}

.input-search i {
    font-size: 24px;
    position: absolute;
    top: 16px;
    left: 10px;
    color: #ccc;
}

.input-box {
    margin: 8px 0;
    border: 1px solid #ccc;
    width: 100%;
    border-radius: 4px;
    display: inline-block;
    padding: 12px 20px;
    box-sizing: border-box;
}

.text-white {
	color: #fff;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.center-block {
    display: block;
    margin: 0 auto;
}

.row.display-flex {
  display: flex;
  flex-wrap: wrap;
}

.row.display-flex > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

.btnx {
    display: inline-block;
    padding: 8px 24px;
    background-color: #2C333D;
    border-radius: 5px;
    color: #dbdbdb;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
}

.btnx:hover,
.btnx:visited,
.btnx:active,
.btnx:link {
    text-decoration: none;
}

.btnx:hover {
    color: #FFDB4F;
    border: 3px solid #FFDB4F;
}

.btnx-lg {
    font-size: 34px;
    padding: 16px 24px;
}

/* ################## */
/* END GENERAL CSS */
/* ################## */

/* ################## */
/* HEADER */
/* ################## */
#header-hero {
    background-image: url("https://s3.amazonaws.com/myblog--flask-bucket/images/header_bg.png");
    min-height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar {
    background-color: transparent;
    font-family: 'Lato', sans-serif;
}

.navbar-right li a {
    color: #fcfcfc;
}

.navbar-right li a:hover {
    color: #3E7BAC;
    background-color: transparent;
}

.navbar-brand {
    color: #fcfcfc;
}

.navbar-brand:hover {
    color: #3E7BAC;
}

.navbar-toggle {
    background-color: #fcfcfc;
}

.icon-bar {
    background-color: #131313;
}

.navbar-right .dropdown a {
    background-color: transparent !important;
    color: #fcfcfc;
}

.navbar-right .dropdown a:hover {
    background-color: transparent;
    color: #3E7BAC;
}

.navbar-right .dropdown li:hover {
    background-color: transparent;
    color: #3E7BAC;
}

.navbar-right .dropdown .dropdown-menu {
    background-color: transparent;
}

.navbar-right .dropdown .dropdown-menu:hover {
    background-color: transparent;
}

.jumbotron {
    margin: 0;
    padding: 0;
    background-color: transparent;
}

.jumbotron h1 {
    color: #fcfcfc;
    text-align: center;
    margin-top: 100px;
    font-size: 80px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

.jumbotron h3 {
    color: #dbdbdb;
    text-align: center;
    font-size: 40px;
    font-family: 'Lato', sans-serif;
}
/* ################## */
/* END HEADER */
/* ################## */

/* ################## */
/* WHAT I DO */
/* ################## */
.what-i-do {
    text-align: center;
}

.what-i-do h1 {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 36px;
}

.what-i-do hr {
    border: 3px solid #FFDB4F;
    width: 200px;
}

.what-i-do h3 {
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}
/* ################## */
/* END WHAT I DO */
/* ################## */

/* ################## */
/* USER PROFILE */
/* ################## */
.user-profile-container {
    width: 350px;
    border: 1px solid #ccc;
    margin: 0 auto;
/*    box-shadow: 5px 5px 8px #888888;*/
}

.user-profile-img > img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

.user-profile-container > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 1.5em;
    text-align: center;
}

.user-profile-container > ul > li:not(last-child) {
    border-bottom: 1px solid #ccc;
}

.user-profile-container > ul > li > span {
    display: block;
    padding: 8px 8px;
}

.user-profile-container > ul > li > a {
    display: block;
    width: 100%;
    padding: 8px 0;
    border: none;
    background-color: #2C3E50;
    color: #fcfcfc;
    text-decoration: none;
}

.user-profile-container > ul > li > button:hover {
    background-color: #212F3D;
    color: #fcfcfc;
}

.img-prev {
    width: 350px;
    height: 235px;
    margin: 0 auto 20px;
    border: 1px solid #fff;
    box-shadow: 0 0 5px 1px;
    display: block;
}

.img-prev > img {
    max-width: 100%;
    max-height: 100%;
}
/* ################## */
/* END USER PROFILE */
/* ################## */

/* ################## */
/* BLOG ARTICLE */
/* ################## */
.blog-article {
    border: 1px solid #ccc;
    margin-bottom: 20px;
    padding: 5px;
    box-sizing: border-box;
    background-color: #fff;
    color: #333;
}

.blog-article:hover {
    box-shadow: 5px 5px 8px #333;
    transition: 0.4s;
}

.blog-article > h3 {
    text-align: center;
    color: #333;
}

.blog-article > p {
    text-align: center;
    color: #4d4d4d;
}

.blog-article > button {
    display: block;
    margin: 10px auto;
    width: 100px
}

.blog-result {
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
}

.blog-result p {
    color: #4d4d4d;
}

.blog-result a,
.blog-result a:link,
.blog-result a:visited,
.blog-result a:hover,
.blog-result a:active {
    text-decoration: none;
    color: #333;
}

.post-body {
    font-size: 14px;
}

.img-prev-blog {
    width: 350px;
    height: 235px;
    border: 1px solid #fff;
    box-shadow: 0 0 5px 1px;
    display: block;
}

.img-prev-blog > img {
    max-width: 100%;
    max-height: 100%;
}

.my-blog {
    text-align: center;
    background-color: #3E7BAC;
}

.my-blog h1 {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 36px;
    color: #fcfcfc;
}

.my-blog > hr {
    border: 3px solid #FFDB4F;
    width: 200px;
}

.my-blog-articles {
    margin: 30px 20px;
}

.my-blog-articles .article {
    background-color: #fcfcfc;
    padding: 10px;
    border: 1px solid #ccc;
}

.my-blog-articles .article h3 {
    text-align: left;
    font-family: 'Lato', sans-serif;
}

/* ################## */
/* END BLOG ARTICLE */
/* ################## */

/* ################## */
/* FOOTER */
/* ################## */
.my-footer {
    background-color: #2C333D;
    color: #fcfcfc;
}

.my-footer hr {
    border: 1px solid #FFDB4F;
}

.my-footer .btn-default {
    width: 100px;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
}

.my-footer .contact-info {
    list-style: none;
    padding: 0;
    margin: 0;
}

.my-footer .contact-info li {
    margin: 10px 0;
}

.my-footer .contact-info a {
    margin-left: 10px;
}

.footer-copyright {
    text-align: center;
    color: #fcfcfc;
}

.footer-social img {
    margin: 0 5px;
}
/* ################## */
/* END FOOTER */
/* ################## */

/* ################## */
/* ABOUT ME */
/* ################## */
.about-me {
    background-image: url("https://s3.amazonaws.com/myblog--flask-bucket/images/aboutme_bg.png");
    height: 562px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.about-me h1 {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 50px;

    color: #fcfcfc;
}

.about-me hr {
    border: 3px solid #FFDB4F;
    width: 200px;
}

.about-me p {
    color: #fcfcfc;
}
/* ################## */
/* END ABOUT ME */
/* ################## */

/* ################## */
/* COMMENTS */
/* ################## */
.comments {

}

.comment {
    border: 1px solid #ccc;
    padding: 5px;
}

.comment ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.comment ul > li {

}

.comment img {
    max-width: 75px;
    max-height: 75px;
    border-radius: 16px 16px 16px 0;
}

.comment-liked {
    color: #C0392B;
}

.comment i:hover {
    cursor: pointer;
}

.reply {
    margin-left: 50px;
}
/* ################## */
/* MY WORK */
/* ################## */
.my-work {
    text-align: center;
}

.my-work h1 {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 36px;
}

.my-work > hr {
    border: 3px solid #FFDB4F;
    width: 200px;
}

.my-work .row-images {
    
}

.my-work > div hr {
    border: 1px solid #ccc;
    margin: 0 10px;
}

.my-work h3 {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

.my-work p {
    text-align: left !important;
    margin-bottom: 40px;
}

.my-work-panel {
    border: 1px solid #ccc;
    padding: 10px;
}

.my-work-panel img {
    margin: 0 10px 10px 10px;
}
/* ################## */
/* END MY WORK */
/* ################## */

.hidden {
    display: none !important;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

@media only screen and (max-width: 768px) {
    .about-me {
        background-image: none;
        height: inherit;
        background-color: #3E7BAC;
        padding: 10px;
    }
    
    .about-me h1 {
        font-size: 36px;
        text-align: center;
        margin-top: 0;
    }
}

@media only screen and (min-width: 992px) {
    .about-me h1 {
        margin-top: 100px;
    }
}

@media only screen and (max-width: 992px) {
    .about-me h1 {
        margin-top: 80px;
        color: #131313;
    }
}