{% extends "layout.html" %}

{% block title %}Brainwallet{% endblock %}

{% block content %}
    <div class="container">
        <h3>Brainwallet</h3>
        <hr>
        <form role="form" method="POST" action="">
            <input name=_csrf_token type=hidden value="{{ csrf_token() }}">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="form-group">
                    <label for="passphrase">Passphrase / Seed</label>
                    <div class="input-group">
                        <input class="form-control" type="password" id="passphrase" name="passphrase" value="{{ bitcoin.seed }}" autofocus required>
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" id="btn-passphrase" onclick="togglePassphrase()">Show</button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="form-group">
                    <label for="priv_key">Private Key as Wallet Import Format (WIF)</label>
                    <div class="input-group">
                        <input class="form-control" type="password" id="priv_key" name="priv_key" value="{{ bitcoin.priv_key }}" readonly>
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" id="btn-priv-key" onclick="togglePrivKey()">Show</button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="form-group">
                    <label for="pub_key">Public Key</label>
                    <input class="form-control" type="text" id="pub_key" name="pub_key" value="{{ bitcoin.pub_key }}" readonly>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="form-group">
                    <label for="secret_exp">Secret Exponent / Private Key</label>
                    <input class="form-control" type="text" id="secret_exp" name="secret_exp" value="{{ bitcoin.secret_exp }}" readonly>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="form-group">
                    <label for="address">Address</label>
                    <input class="form-control" type="text" id="address" name="address" value="{{ bitcoin.address }}" readonly>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="form-group">
                    <label for="hash160">HASH160</label>
                    <input class="form-control" type="text" id="hash160" name="hash160" value="{{ bitcoin.hash160 }}" readonly>
                </div>
            </div>
            {% if bitcoin.qr_address %}
                <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 m-t-10">
                    <a class="btn btn-primary btn-lg" href="{{ bitcoin.qr_address }}" target="_blank">Blockchain.info</a>
                </div>
            {% endif %}
            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 m-t-10">
                <div class="form-group">
                    <button class="btn btn-default btn-lg" type="submit">Generate</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block script %}
<script>
	function togglePassphrase() {
		var t = document.getElementById("passphrase");
		var b = document.getElementById("btn-passphrase");
		if (t.type === "password") {
			t.type = "text";
			b.innerHTML = "Hide";
		} else {
			t.type = "password";
			b.innerHTML = "Show";
		}
	}
	function togglePrivKey() {
		var t = document.getElementById("priv_key");
		var b = document.getElementById("btn-priv-key");
		if (t.type === "password") {
			t.type = "text";
			b.innerHTML = "Hide";
		} else {
			t.type = "password";
			b.innerHTML = "Show";
		}
	}
</script>
{% endblock %}