

<footer class="footer clearfix">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="footer-navigation">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-sm-pull-1 col-md-12 col-md-pull-3 col-lg-12 col-lg-pull-3">
                            <h4 class="text-center">Navigation</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
                            <ul class="footer-navigation">
                                <li><a href="{{ url_for('home') }}">Home</a></li>
                                <li><a href="{{ url_for('blog.view_posts') }}">Blog</a></li>
                                <li><a href="#">Crypto Tools</a></li>
                                <li><a href="{{ url_for('affiliate_store.view_store') }}">Store</a></li>
                            </ul>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-8 col-lg-8">
                            <ul class="footer-navigation">
                                <li><a href="{{ url_for('login') }}">Sign-in</a></li>
                                <li><a href="{{ url_for('registration') }}">Sign-up</a></li>
                                <li><a href="{{ url_for('terms_of_service') }}">Terms of Service</a></li>
                                <li><a href="{{ url_for('privacy_policy') }}">Privacy Policy</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="footer-navigation">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-sm-pull-1 col-md-12 col-md-pull-3 col-lg-12 col-lg-pull-1">
                            <h4 class="text-center">Contact Info</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <p><i class="fas fa-phone-square fa-lg"></i><a href="tel:2629776565"> (262) 977-6565</a></p>
                            <p><i class="far fa-envelope fa-lg"></i><a href="mailto:support@thejackofit.com"> support@thejackofit.com</a></p>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-sm-push-1 col-md-6 col-lg-6">
                            <p><i class="fas fa-map-marker fa-lg"></i><a href="https://www.google.com/maps/place/Milwaukee,+WI+53220/@42.9623345,-88.009629,14z/data=!3m1!4b1!4m5!3m4!1s0x8805104a8e233ea9:0x89d35ff68e0b2362!8m2!3d42.9678365!4d-87.9873724" target="_blank"> PO BOX 20706<br />
                                Greenfield, WI 53220</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                    <p class="copyright">© 2017 Copyright: The Jack of IT</p>
            </div>
        </div>
    </div>
</footer>