{% extends 'layout.html' %}

{% block content %}
	<section>
		<div class="container what-i-do m-t-30">
			<h1>What I do</h1>
			<hr>
			<div class="row row-flex m-t-30">
				<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
					<img src="https://s3.amazonaws.com/myblog--flask-bucket/images/file-code.png" alt="Automation Scripting icon for just a script icon that represent code, coding or code in a file.">
					<h3>Automation Scripting</h3>
					<p>Automation of system processes, building reports from databases, extracting data from files, building reports in Excel, tasks on networking devices over SSH and extracting data from web resources like websites or REST API's.. Scheduling scrips to run on SMA OpCon, Windows Task Scheduler or in a custom timer. I can also update your code from Python 2 to Python 3.</p>
				</div>
				<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
					<img src="https://s3.amazonaws.com/myblog--flask-bucket/images/WWW.png" alt="The web icon has the WWW that represents the World Wide Web or Internet and has a black circle on the background that represent the World, Globe or Earth.">
					<h3>Web Development</h3>
					<p>I specialize in building web applications in Flask, SQLAlchemy, HTML, CSS and Javascript. I also use other frameworks and resources like Bootstrap, Slick and Font Awesome. I can host the application on Amazon Beanstalk, PythonAnywhere, Windows IIS, Heroku or Apache servers. To store data I use PostgreSQL, Windows SQL, SQLite or MySQL.
					</p>
				</div>
				<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
					<img src="https://s3.amazonaws.com/myblog--flask-bucket/images/window-minimize.png" alt="The Windows Desktop application icon represent an open Window or an open Program.">
					<h3>GUI Development</h3>
					<p>I can build Desktop applications that are cross-platform and run on Windows, Linux or Mac OS using Tkinter or QT4. I can also build Windows only Desktop applications that use .NET using Iron Python and SharpDevelop for faster development. The desktop applications can use any Database of your choice and include setup files for installations or single portable executables.</p>
				</div>
				<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
					<img src="https://s3.amazonaws.com/myblog--flask-bucket/images/aws.png" alt="The Amazon AWS icon that can also represent other Amazon services like S3, EC2 or RDS. Amazon is one of the most popular cloud networking and cloud resources on the Internet.">
					<h3>Amazon AWS</h3>
					<p>The desktop and web applications I build can use Cloud resources like Amazon S3 to store your files and images, Amazon RDS where you can have your databases with your data, Amazon EC2 to host your web applications or manage your cloud servers. I can also manage the security and security policies of your Amazon account and other cloud resources.</p>
				</div>
			</div>
		</div>
	</section>
	
	<section>
		<div class="container about-me m-t-30">
			<div class="col-sm-6 col-sm-offset-6 col-md-5 col-md-offset-7 col-lg-4 col-lg-offset-8">
				<h1>About me</h1>
				<hr class="hidden-sm hidden-md hidden-lg">
				<p>Hi, I am Victor Santiago and I am The Jack of All Trades in Information Technology (IT). I have an AAS in Computer Networking Systems and a B.S. in Information Systems and Cyber Security with over ten years of experience as a professional in the field of Information Technology. I have worked as a System Administrator, Windows Network Technician, for multiple MSP assisting other businesses with their technical challenges and IT operations. I have experience managing up to 1,500 users and up to 600 servers over multiple locations.
					
			   I am a self taught developer, the first programming language I learned was PHP and after that I tried C#/C Sharp and Visual Basic but after trying Python I knew that was the programming language I wanted to become and expert.</p>
			</div>
		</div>
	</section>
	
	<section>
		<div class="container my-work m-t-30">
			<h1>My Work</h1>
			<hr>
			<div class="row row-flex">
				<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 my-work-panel m-t-30">
					<div class="row-images">
						<img src="https://s3.amazonaws.com/myblog--flask-bucket/images/python%20copy.png" alt="">
					</div>
					<hr>
					<h3>Py-Linked-Table-Manager</h3>
					<p>Py Linked Table Manager will help you relink/update/refresh MS Access tables and also supports UNC paths. This application only works on Access 97-2003 and does not work on Access newer than 2003. Supports (mdb, .mda, .mde, .mdw). This application is developed on Python using Tkinter. The application only supports Windows and looks similar to MS Linked Table Manager.</p>
					<a class="btnx" href="https://sourceforge.net/projects/pylinkedtablemanager/" target="_blank">View Project</a>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 my-work-panel m-t-30">
					<div class="row-images">
						<img src="https://s3.amazonaws.com/myblog--flask-bucket/images/python%20copy.png" alt="">
						<img src="https://s3.amazonaws.com/myblog--flask-bucket/images/html5%20copy.png" alt="">
						<img src="https://s3.amazonaws.com/myblog--flask-bucket/images/css3%20copy.png" alt="">
						<img src="https://s3.amazonaws.com/myblog--flask-bucket/images/js-square%20copy.png" alt="">
					</div>
					<hr>
					<h3>MyBlog</h3>
					<p>This blog has been developed using Python with the web micro-framework of Flask, HTML, and JavaScript. Users can register a new account, login, post comments on articles, like other comments, like articles and follow other users. Users also have the option to upload a profile image and edit their own user profile. The blog admin is the only user who can create new articles, edit and delete.</p>
					<a class="btnx" href="https://github.com/vsantiago113/MyBlog" target="_blank">View Project</a>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 my-work-panel m-t-30">
					<div class="row-images">
						<img src="https://s3.amazonaws.com/myblog--flask-bucket/images/python%20copy.png" alt="">
					</div>
					<hr>
					<h3>Robo-Interface</h3>
					<p>Robo-Interface is a GUI or user interface for Robocopy the command line tool from Microsoft and includes all the switches except /UNICODE :: output status as UNICODE. It will build the command string that you can copy and paste on the CMD (Command Prompt) or a Batch file. It was developed using Python, .NET and IronPython</p>
					<a class="btnx" href="https://sourceforge.net/projects/robointerface/" target="_blank">View Project</a>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 my-work-panel m-t-30">
					<div class="row-images">
						<img src="https://s3.amazonaws.com/myblog--flask-bucket/images/python%20copy.png" alt="">
					</div>
					<hr>
					<h3>ReadWriteMemory</h3>
					<p>This ReadWriteMemory Module is done on Python for reading and writing to the memory of any process. This module does not require any extra modules only uses standard Python libs like ctypes. Only works in Windows as it uses the Windows APIs. You need to use Cheat Engine to find the memory addresses.</p>
					<a class="btnx" href="https://github.com/vsantiago113/ReadWriteMemory" target="_blank">View Project</a>
				</div>
			</div>
			<a class="btnx btnx-lg m-t-20 m-b-20" href="https://github.com/vsantiago113">Load More</a>
		</div>
	</section>
	
	<section>
		<div class="container my-blog m-t-30">
			<h1>My Blog</h1>
			<hr>
			<div class="my-blog-articles">
                {% if posts %}
                    {% for post in posts %}
                        <div class="article">
                            <img class="block-center img-responsive" src="{{ bucket_url + post.image_name }}" alt="">
                            <h3>{{ post.title }}</h3>
                            <p>{{ post.excerpt }}</p>
                            <a class="btnx" href="{{ url_for('blog.view_post', post_id=post.id) }}">Read more...</a>
                        </div>
                    {% endfor %}
                {% endif %}
			</div>
		</div>
	</section>
{% endblock %}