{% extends "layout.html" %}

{% block title %}Affiliate Products{% endblock %}

{% block content %}
    <div class="container m-t-50 m-b-50">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3">
                <h3 class="text-center">Search Affiliate Products</h3>
                <form role="form" method="GET" action="">
                    <div class="input-search">
                        <span><i class="fa fa-search" aria-hidden="true"></i></span>
                        <input type="text" name="q" placeholder="Search..." class="input-box" {% if q %}value="{{ q }}{% endif %}">
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="container m-t-50">
        {% if products.items %}
            <div class="row">
            {% for item in products.items %}
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
                    <div class="store-products clearfix">
                        <img src="{{ bucket_url + item.image_name }}" alt="" class="img-responsive">
                        <h3>{{ item.title }}</h3>
                        <p>{{ item.description }}</p>
                        <hr>
                        <div class="price-buy">
                            <span>${{ item.discount_price }}</span>
                            <a href="{{ item.product_url }}" class="btn btn-warning" target="_blank">Buy now!</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        {% else %}

        {% endif %}

        <div class="row m-b-50">
            <div class="text-center">
                {% if products.has_prev %}
                    <a href="{{ url_for('view_store', product=products.prev_num, q=q) }}" class="btn btn-default">Forward</a>
                {% endif %}
                {% if products.has_next %}
                    <a href="{{ url_for('view_store', product=products.next_num, q=q) }}" class="btn btn-default">Black</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}